@use 'root';

// Box sizing rules
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

// Remove default margin
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

// Remove list style on ul, ol with role list
ul[role="list"],
ol[role="list"] {
    list-style: none;
    padding: 0;
}

// Default core body
html,body {
    min-height: 100vh;
    font-family: var(--ff-primary);
    font-size: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}



// Remove a element no class default style
a:not([class]) {
    text-decoration-skip-ink: auto;
}

// Make images easier to work with
img,
picture {
    max-width: 100%;
    display: block;
}

// Inherit font for inputs and button
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

h1 {
    padding-bottom: 25px;
    font-size: var(--font-size-xl);
    font-weight: var(--fw-bold);
    line-height: 1;
    letter-spacing: -1px;
}

h2 {
    padding-bottom: 20px;
    font-size: var(--font-size-lg);
}

h3 {
    font-weight: --fw-bold;
}

p {
    font-size: var(--font-size-body);
    font-weight: var(--fw-regular);
    line-height: 1.7;
}

header, footer, .container {
    margin-inline: auto;
    width: min(90%, 69.31rem);
}

header {
    padding: 40px 0 60px;
    margin-inline: auto;

    @media screen and (min-width: 48em) {
        padding: 60px 0 135px;
    }
}

/* Main content */

.bg-pattern {
    position: absolute;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    background: url(../assets/bg-main-mobile.png) -20% -300% no-repeat;

    @media screen and (min-width: 48em) {
        position: absolute;
        background: url(/assets/bg-pattern-1.svg) 110% -20% no-repeat, url(/assets/bg-main-tablet.png) 60% 70% no-repeat;
    }

    @media screen and (min-width: 62.4375em) {
        position: absolute;
        background: url(/assets/bg-pattern-1.svg) right -10% no-repeat, url(/assets/bg-main-desktop.png) 40% 10% no-repeat;

    }
}

.wrapper {
    position: relative;
    background: url(/assets/bg-pattern-2.svg) no-repeat center 0% var(--clr-black);
    background-size: auto 50%;
    width: clamp(23.5rem, 67.19vw + 8.85rem, 69.31rem);
    max-width: 100%;
    border-radius: 12px;

    @media screen and (min-width: 48em) {
        margin-top: 130px;
        margin-bottom: 100px;
        background: url(/assets/bg-pattern-2.svg) no-repeat center -59% var(--clr-black);
        height: 600px;
    }

    @media screen and (min-width: 62.4375em) {
        width: 1110px;
        margin-bottom: 200px;
        background: url(/assets/bg-pattern-2.svg) no-repeat 40% -10% var(--clr-black);
    }
}

.heroText__upper {
    padding-bottom: 195px;
    width: min(90%, 69.31rem);
}

.heroText__upper h1, .heroText__upper p {
    width: min(90%, 846.8px);

    @media screen and (min-width: 48em) {
        width: clamp(500px, 50%, 864px);
    }
    
    @media screen and (min-width: 62.4375em) {
        width: 864px;
    }
}

.heroText__lower {
    width: clamp(23.5rem, 67.19vw + 8.85rem, 69.31rem);
    max-width: 100%;
    background-color: var(--clr-accent-3);
    border-radius: 12px;
    color: var(--clr-white);
    padding: 55px 42px 48px;

    @media screen and (min-width: 48em) {
        max-width: 399px;
        position: relative;
        top: -353px;
        left: 216px;
    }

    @media screen and (min-width: 62.4375em) {
        position: relative;
        max-width: 445px;
        padding: 65px 53px 49px;
        top: -495px;
        left: 600px;
    }
}

.pricetag {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: var(--font-size-body);

    .price {
        font-size: var(--font-size-xl);
        font-weight: var(--fw-bold);
    }
}



.downloadLinks {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    gap: 1em;

    > a {
        font-weight: var(--fw-bold);
        font-size: 1.125em;
        text-decoration: none;
    }

    .btn_iOs {
        color: var(--clr-white);
        text-align: center;
        height: 60px;
        padding-block: 15px;
        border-radius: 10px;
        background-color: var(--clr-black);
        transition: 150ms ease all;

        &::before {
            position: relative;
            content: url(/assets/icon-apple.svg);
            top: 5px;
            left: -10px;
        }

        &:hover {
            background-color: var(--clr-accent-1);
        }
    }

    .btn_Android {
        color: var(--clr-black);
        text-align: center;
        height: 60px;
        padding-block: 15px;
        border-radius: 10px;
        background-color: var(--clr-white);
        transition: 150ms ease all;

        &::before {
            position: relative;
            content: url(/assets/icon-android.svg);
            top: 5px;
            left: -10px;
        }

        &:hover {
            background-color: var(--clr-accent-2);
        }
    }
}

.illu {
    position: relative;
    margin-inline: auto;
    width: clamp(13.06rem, 9.44vw + 11rem, 19.5rem);
    top: -100px;

        @media screen and (min-width: 48em) {
            top: -124px;
            left: -150px;
        }

        @media screen and (min-width: 62.4375em) {
            left: -314px;
            top: -185px;
        }
}


footer {
    padding: 88px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;

    .footer-logo {
        flex-basis: 100%;  
        padding-bottom: 40px;
    }

    p {
        font-size: clamp(1rem, 0vw + 1rem, 1rem);
        display: block;
        max-width: 317px;
        line-height: 1.625;
        font-weight: var(--fw-thin);
        padding-bottom: 65px;
    }

    ul {
        margin: 0;
        display: flex;
        align-items: baseline;
        column-gap: 20px;

        .social svg path {
            transition: fill 200ms;
        }

        .social:hover svg path {
            fill: var(--clr-accent-2);
        }
    }

    @media screen and (min-width: 62.4375em) {
        .footer-logo {
            flex-basis: auto;  
        }
    }
}

.email {
    color: var(--clr-black  );
    text-decoration: none;
    font-weight: var(--fw-bold);
}